# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environments
.env
.venv/
venv/
*.pt
test.avi
test.wav
data/.DS_Store # stop tracking .DS_Store
datasets/ade_fit_corpus/*.wav
